@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header,
.notes-section,
.early-access-section,
.second-brain-section {
  max-width: 1600px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  padding: 12px 16px;
  background: #30b868;
  border: none;
  cursor: pointer;
}

/* Navbar Section Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* Banner Section Styles  */

.banner-section {
  background-image: url("../images/hero-bg.png");
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-highlight {
  background: #fff;
  padding: 8px 12px;
  display: flex;
  gap: 6px;
  border-radius: 100px;
  margin-bottom: 16px;
}

.banner-highlight p {
  color: #30b868;
  font-weight: 500;
}

.banner-heading {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: #fff;
  opacity: 0.9;
  margin-bottom: 16px;
  text-transform: capitalize;
  text-align: center;
}

.color-heading {
  color: #30b868;
}

.banner-text {
  max-width: 700px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.btn-group {
  display: flex;
  gap: 16px;
}

.btn-with-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-play {
  background: transparent;
  border: 1px solid #fff;
}

/* Notes Section Styles  */
/* Second Brain Section Styles  */
/* Early Access Section Styles  */
/* Footer Section Styles */
